@import "libs/variables.scss";
@import "libs/tipografia.scss";
@import "libs/mixins.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    background-color: $principal-color;
}
p > span {
    color: $orange;
}
//header
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: $padding;
    border-bottom: 2px solid $orange;
    
    &__logo--container {
        @include image-container(100%, 70%);
    }
    &__logo {
        width: 100px;
        @include img-cover;
    }
    &__nav {
        width: 30%;
        height: 100%;
    }
}

//hero
.hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: $padding;
    text-align: center;

    &__slogan {
        font-size: $title-fontsize;
        color: white;
        margin-top: 20px;
    }
    &__slogan--principalword {
        color: $orange;
    }
}

//Hamburger menu

%burger-btn {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all .5 ease-in-out;
}

.menu__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
    transition: all .5 ease-in-out;
    border: 3px solid white;

    &--burger {
        @extend %burger-btn;
    }
    &--burger::after {
        transform: translateY(-16px);
        content: '';
        @extend %burger-btn;
        position: absolute;
    }
    &--burger::before {
        transform: translateY(16px);
        content: '';
        @extend %burger-btn;
        position: absolute;
    }
    &.open &--burger {
        transform: translateX(-50px);
        background-color: transparent;
    }
    &.open &--burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    &.open &--burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

//About me
.aboutme {
    width: 100%;
    height: auto;
    padding: $padding;
    color: white;
    text-align: center;
    margin-top: $sections-margin;

    &__title {
        font-size: $title-fontsize;
        margin-bottom: $items-margin;
        color: $orange;
    }
    &__description {
        @include featured-section;
    }
}

//podcast
.podcast {
    text-align: center;
    color: white;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $padding;
    margin-top: $sections-margin;

    &__img--container {
        @include image-container(80px);
        margin-top: $items-margin;
    }
    &__img {
        @include img-cover;
    }
    &__description {
        @include featured-section;
        margin-top: $items-margin;
        font-size: $base-fontsize;
    }
    &__description--title {
        font-size: $subtitle-fontsize;
        margin-bottom: $items-margin;
        color: $orange;
    }
    &__title {
        font-size: $title-fontsize;
        color: $orange;
    }
}

//footer
.footer {
    background-color: $secundary-color;
    max-height: 20px;
    width: 100%;
    font-size: $base-fontsize;
    color: white;
    text-align: center;
    margin-top: $sections-margin;
}