* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #241734;
}

p > span {
  color: #FD1053;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #FD1053;
}
.header__logo--container {
  width: 70%;
  height: 100%;
}
.header__logo {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.nav {
  height: 100vh;
  width: 100%;
  background-color: #FD1053;
  opacity: 0.9;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: white;
  display: none;
}
.nav__item {
  list-style: none;
  font-size: 3rem;
  margin-top: 20px;
  font-weight: 600;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.hero__slogan {
  font-size: 3rem;
  color: white;
  margin-top: 20px;
}
.hero__slogan--principalword {
  color: #FD1053;
}

.menu__btn--burger::before, .menu__btn--burger::after, .menu__btn--burger {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.menu__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}
.menu__btn--burger::after {
  transform: translateY(-16px);
  content: "";
  position: absolute;
}
.menu__btn--burger::before {
  transform: translateY(16px);
  content: "";
  position: absolute;
}
.menu__btn.open .menu__btn--burger {
  transform: translateX(-50px);
  background-color: transparent;
}
.menu__btn.open .menu__btn--burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu__btn.open .menu__btn--burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header__nav {
  width: 100%;
  position: relative;
  right: -100%;
}

.aboutme {
  width: 100%;
  height: auto;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 85px;
}
.aboutme__title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FD1053;
}
.aboutme__description {
  background-color: #2E2157;
  border-radius: 5px;
  font-size: 1.6rem;
  height: auto;
  padding: 10px;
}

.podcast {
  text-align: center;
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 85px;
}
.podcast__img--container {
  width: 100%;
  height: 80px;
  margin-top: 20px;
}
.podcast__img {
  height: 100%;
  object-fit: cover;
}
.podcast__description {
  background-color: #2E2157;
  border-radius: 5px;
  font-size: 1.6rem;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.6rem;
}
.podcast__description--title {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #FD1053;
}
.podcast__title {
  font-size: 3rem;
  color: #FD1053;
}

.footer {
  background-color: #2E2157;
  max-height: 20px;
  width: 100%;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin-top: 85px;
}

/*# sourceMappingURL=styles.css.map */
